/* Add your own styles */
header{
    text-align: center;
    background-color: rgb(89, 199, 162);
    text-shadow: 2px;
    padding: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main{
    padding: 15px; 
}

table, th, tr, td{
    border:2px solid black;
}

.name, .continent, .Independence, .hos{
    border: 1px solid black; 
}



